/* Styles body */
body {
	background: url(../images/bg-body.jpg) repeat left bottom;
	font-family: "Times New Roman", Times, serif;
	margin: 0;
}
#background {
	background: url(../images/bg-pattern.jpg) repeat-x 0 0;
	min-height: 1318px;
}
#page {
	width: 960px;
	margin: 0 auto;
}
ol,
ul {
	list-style: none;
	padding:0;
}
img {
	border: 0;
}
/*------------------------------ Sprites ------------------------------*/

#contents div.box, #contents div.box > div, #contents div.body {
	background:#fff; margin-top:15px;
}
#main div.box, #main div.box > div, #main div.box > div > div {
	background:#fff;
}
/*------------------------------ HEADER ------------------------------
	margin-bottom: 20px;
	padding-top: 20px;*/
#header {
	height:200px;
	position:relative;
	top:0;
	margin-bottom:24px;
}
/** Logo    margin-bottom: 20px;
    margin-left: 49px;**/
#logo {
	position:absolute;
	left:0;
	height:154px;
	top:30px;
}
/** Navigation **/
#navigation {
	position:absolute;
	bottom:0;
	left:0;
	background:#F56E8D;
	border-bottom: 1px solid #BF7589;
    border-top: 1px solid #EEBDCB;
	clear: both;
	height: 50px;
	width: 960px;
	margin: 0 auto;
	padding: 0;
}
#navigation ul {
	display: inline-block;
	width: 960px;
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation li {
	background:url(../images/separator.png) no-repeat center right;
	background-size:auto 100%;
	float: left;
	height: 50px;
	width: 136px;
	margin: 0;
	padding-left: 1px;
	text-align: center;
}

#navigation li:last-child{ background:none;}
#navigation li:first-child {
	margin-left: 0;
	padding-left: 0;
}
#navigation li a {
	color: #fff;
	display: block;
	font: bold 14px/48px Arial, Helvetica, sans-serif;
	height: 49px;
	text-decoration: none;
	text-transform: uppercase;
}
#navigation li a:hover {
	border-bottom:3px solid #621D34;
	color: #621D34;
}
#navigation li.selected a {
	background-position: 0 0;
	color: #e4e1bd;
}
/*------------------------------ CONTENTS ------------------------------*/
#contents {
	display: inline-block;
 background: #ffffff;
	width: 960px;
	padding: 0;
}
#contents h1 {
	color: #df628c;
	font: 26px/30px "Times New Roman", Times, serif;
	margin: 18px 0 20px;
	padding-left: 2px;
	text-transform: uppercase;
}
#contents div.body h1, #contents h2 {
	color: #df628c;
	font: 30px/30px "Times New Roman", Times, serif;
	margin: 0 0 18px;
	text-transform: uppercase;
}
#contents h2 {
	font-size: 22px;
	margin: 0 0 30px;
}
#contents h2 a {
	color: #2c9688;
	text-decoration: none;
}
#contents p {
	color: #621d34;
	font-size: 15px;
	line-height: 30px;
	margin: 0;
	padding: 0 0 24px 2px;
}
#contents p a {
	color: #621d34;
}
#contents p a:hover, #new div.sidebar ul li a:hover {
	color: #621D34;
}
/** box-shadow **/
#contents div.box {
	background-position: left bottom;
	margin-bottom: 20px;
	margin-left: 1px;
	padding: 0 0 6px;
}
#contents div.box > div {
	padding: 6px 0 0;
}
#contents div.body {
	background-repeat: repeat-y;
	min-height: 980px;
	padding: 20px;
}
/** Adbox **/
#adbox {
	background-color:#efefef;
	padding:15px 7px;
	width: 946px;
	margin: 10px auto;
}
#adbox p {
	font-size: 16px;
}
.ads {
	float: right;
	width: 220px;
	border-left: 1px solid #bbbbbb;
	margin-left: 20px;
	padding-left: 20px;
}
hr {
	border:0;
	border-top: 1px solid #bbbbbb;
	margin-bottom: 30px;
}
/** MAIN **/
#main {
	float: left;
	min-height: 100px;
	width: 625px;
}
#main div.box {
	background-position: left bottom;
	margin-bottom: 12px;
	padding: 0 0 6px;
}
#main div.box > div {
	background-position: -1145px top;
	padding: 6px 0 0;
}
#main div.box > div > div {
	background-position: -572px top;
	background-repeat: repeat-y;
	padding: 17px;
}
#main div.box h3 {
	color: #df628c;
	font-weight: normal;
	letter-spacing: 1px;
	border-bottom: 1px dotted #9c8964;
	margin: 0;
	padding: 0 0 12px;
	text-transform: uppercase;
}
#main div.box h4 {
	font: 22px/24px "Times New Roman", Times, serif;
	font-weight: normal;
	margin: 6px 0 0;
}
#main div.box h4 a {
	color: #621d34;
	text-decoration: none;
}
#main div.box ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#main div.box ul li {
	border-bottom: 1px dotted #9c8964;
}
#main div.box ul li span {
	color: #621d34;
	display: block;
	font-size: 14px;
	margin-bottom: 12px;
}
#main div.box ul li p {
	line-height: 24px;
	padding: 0 0 3px;
}
/** SIDEBAR **/
#sidebar {
	float: right;
	height: auto;
	width: 320px;
}
#sidebar div.section {
	height: 144px;
	margin-bottom: 12px;
}
#sidebar div.section:first-child {
	padding: 3px 0 0;
}
#sidebar div.section > a:hover {
	filter:alpha(opacity=60);
	opacity: 0.6;
}
/** testimonials **/
#contents div#testimonials h3 {
	color: #2c9688;
	font-weight: normal;
	letter-spacing: 1px;
	border-bottom: 0;
	padding-bottom: 0;
}
#testimonials p {
	display: inline-block;
	line-height: 24px;
	padding-bottom: 3px;
}
#testimonials p span {
	float: right;
}
#testimonials p span a {
	color: #2c9688;
	text-decoration: none;
}
#testimonials p span a:hover {
	color: #621D34;
}
/** Shops, Muffins galerys **/
#Shops, #Muffins, #sites {
	list-style: none;
	margin: 0;
	padding: 0;
}
#Shops li, #Muffins li, #sites li {
	display: inline-block;
	width: 784px;
	border-top: 1px solid #b7b7b7;
	padding: 30px 0;
	position: relative;
}
#Shops li:first-child, #Muffins li:first-child, #sites li:first-child {
	border-top: 0;
}
#Shops li img {
	float: left;
	border: 1px solid #2c9688;
	margin-right: 15px;
}
#Shops .rate {
	color: #df628c;
	display: inline-block;
	font: 16px/35px "Times New Roman", Times, serif;
	height: 35px;
	width: 138px;
	border: 1px solid #621d34;
	text-align: center;
	position: absolute;
	bottom: 30px;
}
/** Muffin **/
#Muffins li > div.infos {
	height: 169px;
	width: 780px;
	position: relative;
}
#Muffins li > div.infos p {
	background: url(../images/bg-MuffinDetail.png) repeat;
	color: #df628c;
	display: none;
	height: 60px;
	width: 740px;
	padding: 6px 20px 0;
	position: absolute;
	left: 0;
	bottom: 0;
}
#Muffins li > div.infos p span {
	display: block;
	font: 22px/22px "Times New Roman", Times, serif;
}
#Muffins li > div.infos:hover span.cover {
	background: url(../images/bg-MuffinInfos.png) repeat;
	display: inline-block;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
#Muffins li > div.infos:hover p {
	display: block;
}
/** galery **/
#sites li {
	padding-bottom: 0;
}
#sites li img {
	float: right;
	border: 1px solid #2c9688;
	margin-left: 15px;
}
/** new **/
#new {
	display: inline-block;
	width: 784px;
}
#new > div {
	width: 560px;
	border-right: 1px solid #bbbbbb;
	padding-right: 35px;
}
#new > div img {
	border: 1px solid #2c9688;
	margin-bottom: 20px;
}
#new > div h2 {
	margin-bottom: 12px;
}
#new > div span {
	color: #621d34;
	display: block;
	font: 15px/24px "Times New Roman", Times, serif;
	margin-bottom: 30px;
}
#new > div span.author {
	color: #2c9688;
	display: block;
	font-size: 14px;
	margin-bottom: 20px;
}
#new div.sidebar {
	float: right;
	width: 160px;
	border: 0;
	padding: 0;
}
#new div.sidebar h3 {
	color: #2c9688;
	font-size: 20px;
	font-weight: normal;
	border-top: 1px solid #b7b7b7;
	margin: 0 0 12px;
	padding-top: 18px;
	text-transform: uppercase;
}
#new div.sidebar h3:first-child {
	border: 0;
	padding-top: 0px;
}
#new div.sidebar ul {
	list-style: none;
	margin: 0 0 8px;
	padding: 0;
}
#new div.sidebar ul li a {
	color: #621d34;
	display: inline-block;
	font-size: 15px;
	margin-bottom: 6px;
	text-decoration: none;
}
#new ul li {
	margin-bottom: 12px;
}
/** Contact 
#contact form {
	float: right;
	color: #621d34;
	height: 320px;
	width: 420px;
	border: none;
	padding: 19px 19px 6px;
}
#contact form table {
	border-collapse: collapse;
}
#contact form table td {
	padding-bottom: 6px;
}
#contact table td:first-child {
	font-size: 14px;
	line-height: 30px;
	width: 180px;
	text-transform: uppercase;
}
#contact table td.txtarea {
	vertical-align: top;
}

#contact form input {
	height: 17px;
	line-height: 17px;
	width: 278px;
	border: 1px solid #621d34;
	border-radius: 2px;
}
#contact textarea {
	height: 143px;
	line-height: 17px;
	width: 338px;
	border: 1px solid #621d34;
	border-radius: 2px;
	overflow: auto;
	resize: none;
}
#contact input.btn {
	background: url(../images/btn-send.png) no-repeat -70px 0;
	cursor: pointer;
	height: 26px;
	width: 60px;
	border: 0;
	padding: 0;
	margin: 0;
}
#contact input.btn:hover {
	background-position: 0 0;
}**/
#contact p span {
	display: block;
	text-transform: uppercase;
}
/*------------------------------ FOOTER ------------------------------*/
#footer {
	color: #594334;
	font-size: 14px;
	line-height: 48px;
	margin: -38px 0 20px;
	padding-top: 42px;
	text-transform: uppercase;
}
#footer > div {      background-color: #F56E8D;
    border-bottom: 1px solid #BF7589;
    border-top: 1px solid #EEBDCB;
    height: 48px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: right;
    width: 940px;
}
#footer ul.navigation {
	float: left;
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#footer ul.navigation li {
	float: left;
	margin-right: 10px;
}
#footer ul.navigation li a {
	color: #fff;
	padding: 0 5px;
	text-decoration: none;
}
#footer ul.navigation li:first-child a {
	border-left: 0;
	padding-left: 0;
}
#footer ul.navigation li a:hover {
	color: #621D34;
}
#footer ul.navigation li.active a {
	color: #ad1d51;
}
#footer p {
	margin: 0;
	text-align: center;
	text-transform: none;
}
/** Connect **/
#connect {
	float: right;
	display: inline-block;
	line-height: 26px;
	margin: 12px 0 0;
}
#connect a {
	background: url(../images/icons.png) no-repeat;
	display: inline-block;
	height: 23px;
	width: 23px;
	margin-left: 10px;
}
#connect a.pinterest {
	background-position: 0 -33px;
}
#connect a.facebook {
	background-position: 0 -98px;
}
#connect a.twitter {
	background-position: 0 -164px;
	width: 28px;
}
#connect a.googleplus {
	background-position: 0 -230px;
}
#connect a.pinterest:hover {
	background-position: 0 0;
}
#connect a.facebook:hover {
	background-position: 0 -65px;
}
#connect a.twitter:hover {
	background-position: 0 -131px;
}
#connect a.googleplus:hover {
	background-position: 0 -197px;
}
/* Form */
fieldset{ border:none; padding:0;}

form label{ color:#621D34; display:block;}

form#Kontaktformular1{ float:right; margin-right:30px;    width: 350px;}

form#register{ margin:20px auto;width: 350px;}

#form{ position:absolute;
right:0;
top:80px;}

#header form label{ display:none;}
form input, form textarea{
	background: #fff;
	border:1px solid #DF628C;
	padding:4px 4px;
	width:340px;
	border-radius: 6px;
	color:#621D34;
}
#header form input{ width:142px;}
form input#submit,
form input#reg{
	background:#F56E8D;
	border-radius:0 !important;
	border:none;
	width:70px;
	margin:10px 0;
	color:#fff;
	height:25px;
	font-size:12px !important;
	float:right;
	text-align:center;
	padding:0;}
	form input#submit{
		margin-right:10px;}

div#navigation ul li.active a{color: #ad1d51;
	background:url(../images/separator.png) no-repeat center right;
	background-size:auto 100%;}
div#navigation ul li.active a:last-child{ background:none;}
button#submit{ display:block;
	background:#F56E8D; border:none; color:#fff; width:152px}
#contact input:hover, #contact textarea:hover {
	background:#fce4ea}
form input#submit:hover,
form input#reg:hover,
button#submit:hover{ background:#AD1D51; color:#fff;}
div.reg{
background: #fff;  
}
div#slideshow{
  margin-bottom: 20px;
}

form.default label.error:before {
    border-color: -moz-use-text-color rgba(0, 0, 0, 0) rgba(255, 0, 0, 0.7);
    border-style: none solid solid;
    border-width: 0 7px 10px;
    content: "";
    height: 0;
    position: absolute;
    right: 10px;
    top: -10px;
    width: 0;
}
form.default label.error {
    background: none repeat scroll 0 0 rgba(255, 0, 0, 0.7);
    color: #FFFFFF;
    margin-bottom: 2%;
    padding: 5px;
    position: relative;
    text-align: center;
    width: 100%;
}
